html * {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

body { margin: 0; }

.button {
  font-size: xx-large;
  height: 100%;
  width: 100%;
  margin: auto;
  font-weight: bold;
}

.button:focus, .button:active {
  outline: none;
}
  
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


div#buttonsContainer {
  position: absolute;
  /* padding: 10px; */
  top: 0px;
  left: 0px;
  z-index: 3;
}

.lil-gui {
  --number-color: #fc2eff;
  --string-color: #fc2eff;
}